{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner %}
<style>
   .form-signin {
    width: 100%;
    max-width: 900px;
    padding: 15px;
        padding-top: 15px;
    margin: auto;
    padding-top: 70px;
}

</style>

<main class="form-signin">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans "Konfirmasi alamat e-mail" %}</h1>

                {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p class="mb-3">
                    {% blocktrans with confirmation.email_address.email as email %}
                    Harap konfirmasi <a href="mailto:{{ email }}">{{ email }}</a> adalah alamat e-mail Anda.{% endblocktrans %}
                </p>
                
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button class="btn btn-primary" type="submit">{% trans 'Konfirmasi' %}</button>
                </form>

                {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}Link konfirmasi ini kadaluarsa atau tidak valid. Harap <a href="{{ email_url }}">mengeluarkan permintaan konfirmasi e-mail baru</a>.{% endblocktrans %}</p>

                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

