{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ubah Sandi" %}{% endblock %}


{% block inner %}
<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ubah Sandi" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Link ubah sandi tidak sah, mungkin karena sudah digunakan. Silahkan <a href="{{ passwd_reset_url }}">atur ulang sandi</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
           
            <form method="post" action=".">
                <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                
                {% csrf_token %}
                
                {% if form.errors %}
                  {% if form.password2.errors %}
                    <div class="alert alert-danger" role="alert">
                      Password yang kamu masukkan tidak sama dengan konfirmasi password.
                    </div>
                  {% endif %}
                  {% if form.password1.errors %}
                    <div class="alert alert-danger" role="alert">
                      {% if "The password is too similar to the email address." in form.password1.errors %}
                        Password terlalu mirip dengan alamat e-mail.
                      {% elif "This password is too short. It must contain at least 8 characters." in form.password1.errors %}
                        Password terlalu pendek. Minimal 8 karakter.
                      {% elif "This password is too common." in form.password1.errors %}
                        Password terlalu umum. Rawan dijebol hacker.
                      {% else %}
                        {{form.password1.errors}}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
                
                <label for="inputPassword" class="visually-hidden">Password</label>
                <input type="password" name="password1"  id="inputPassword" class="form-control mb-3" placeholder="Password" required>
                <label for="reinputPassword" class="visually-hidden">Konfirmasi Password</label>
                <input type="password" name="password2" id="reinputPassword" class="form-control mb-3" placeholder="Konfirmasi Password" required>
                
               
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Ubah Password</button>
                
                
              </form>
        {% else %}
            <p>{% trans 'Sandi Anda berhasil diubah.' %}</p>
        {% endif %}
    {% endif %}
  
</main>
{% endblock %}