{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Atur Ulang Sandi" %}{% endblock %}

{% block inner %}
<main class="form-signin" style="max-width: 900px;">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>{% trans "Atur Ulang Sandi" %}</h1>
                
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>
                    Kami telah mengirimkan Anda e-mail. 
                    Silakan hubungi kamu apabila Anda tidak menerimanya dalam beberapa saat.
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

