{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Ubah Sandi" %}{% endblock %}

{% block inner %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ubah Sandi" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Link ubah sandi tidak sah, mungkin karena sudah digunakan. Silahkan <a href="{{ passwd_reset_url }}">atur ulang sandi</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Sandi Anda berhasil diubah.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

