{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}
<main class="form-signin">
  <form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    
      <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>
    {% if form.errors %}
      <script>
        // Simulate a mouse click:
        window.location.href = "/accounts/password/reset/done/";  
      </script>
    {% endif %}
    
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Lupa password Anda? <br>Masukkan alamat e-mail Anda, kami akan mengirim email untuk mereset password." %}</p>
    <label for="inputEmail" class="visually-hidden">Alamat e-mail</label>
    <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="Alamat e-mail" required autofocus>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password Saya</button>
  
    </form>
  </main>
{% endblock %}
{% block a %}


    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}

