{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Daftar" %}{% endblock %}

{% block inner %}
<main class="form-signin">
  <form method="post" action="{% url 'account_signup' %}">
    <!-- <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="h3 mb-3 fw-normal">Daftar</h1>
    {% csrf_token %}
    
    {% if form.errors %}
      {% if form.email.errors %}
        <div class="alert alert-danger" role="alert">
          E-mail yang kamu masukkan sudah terdaftar di sistem kami.<br>
          Silakan <a href="{% url 'account_login' %}">login</a> atau 
          gunakan fitur <a href="{% url 'account_reset_password' %}">lupa password</a>.
        </div>
      {% endif %}
      
      {% if form.password2.errors %}
        <div class="alert alert-danger" role="alert">
          Password yang kamu masukkan tidak sama dengan konfirmasi password.
        </div>
      {% endif %}
      {% if form.password1.errors %}
        <div class="alert alert-danger" role="alert">
          {% if "The password is too similar to the email address." in form.password1.errors %}
            Password terlalu mirip dengan alamat e-mail.
          {% elif "This password is too short. It must contain at least 8 characters." in form.password1.errors %}
            Password terlalu pendek. Minimal 8 karakter.
          {% elif "This password is too common." in form.password1.errors %}
            Password terlalu umum. Rawan dijebol hacker.
          {% else %}
            {{form.password1.errors}}
          {% endif %}
        </div>
      {% endif %}
    {% endif %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <label for="inputEmail" class="visually-hidden">Alamat e-mail</label>
    <input type="email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} name="email" id="inputEmail" class="form-control mb-3" placeholder="Alamat e-mail" required autofocus>
    <label for="inputPassword" class="visually-hidden">Password</label>
    <input type="password" name="password1"  id="inputPassword" class="form-control mb-3" placeholder="Password" required>
    <label for="reinputPassword" class="visually-hidden">Konfirmasi Password</label>
    <input type="password" name="password2" id="reinputPassword" class="form-control mb-3" placeholder="Konfirmasi Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="agreement" required> 
        Dengan ini Saya menyetujui <a href="{% url 'term-of-use' %}">ketentuan penggunaan</a> dan <a href="{% url 'privacy-policy' %}">kebijakan privasi</a>  Be-Py 
      </label>
    </div>
   
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Daftar</button>
    
    <p>Sudah punya akun? Silakan <a href="{% url 'account_login' %}">login</a>.</p>
    
  </form>
</main>
{% endblock %}
{% block s %}
<h1>{% trans "Daftar" %}</h1>


<p>{% blocktrans %}Sudah punya akun? Silakan <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
	<p>{% blocktrans with site.name as site_name %}Anda dapat daftar dengan salah satu akun <i>third party</i> Anda.{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or text-center">{% trans 'atau dengan form pendaftaran' %}</div>

</div>

{% endif %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Daftar" %} &raquo;</button>
</form>

{% endblock %}

