{% extends "base.html" %}
{% block title %}BE-PY | Syarat Penggunaan{% endblock %}
{% block content %}
<div style="padding-top: 200px">
        <div class="container">
            <div class="row" style="margin-bottom: 80px;">
				<div class="col-lg-12 col-md-12">
                    <h3><strong>Syarat Penggunaan</strong></h3>
                    <p>
						 Selamat datang di Be-Py. Halaman ini menjelaskan persyaratan yang berlaku dalam menggunakan layanan yang diberikan oleh Be-Py. Dengan mengakses atau menggunakan Service, berarti Anda telah membaca, memahami, dan setuju untuk terikat dan tunduk dengan semua peraturan yang berlaku di be-py.com.
                    </p><br/>
                    <p>
                        MOHON BACA PERSETUJUAN INI DENGAN TELITI UNTUK MEMASTIKAN BAHWA ANDA TELAH MEMAHAMI SETIAP KETENTUAN YANG BERLAKU. 
                    </p><br/>

                    <ul style="margin-top:10px;line-height:150%;">
                        <li>
                            <h4><b class="first-terms">Penggunaan Layanan</b></h4><br />
                            <p>Be-Py menyediakan platform pengembangan skill developer pemrograman Python.</p>
                            <ol>
                                <li>
                                    <b>Kelayakan</b>
                                </li>
                                <p>
									Ini adalah kontrak antara Anda dan Be-Py. Anda harus membaca dan menyetujui syarat ini sebelum menggunakan Be-Py Service. Jika Anda tidak setuju, Anda tidak dapat menggunakan Layanan ini. Jika Anda seorang anak di bawah usia 17 tahun, Be-Py mungkin memerlukan partisipasi orang tua atau wali Anda sebelum mengizinkan Anda untuk menggunakan Layanan ini. syarat dan ketentuan tambahan mungkin berlaku untuk beberapa Layanan, seperti aturan untuk kompetisi tertentu, promosi, layanan atau kegiatan lainnya, atau istilah yang dapat menyertai konten tertentu diakses melalui Layanan. Layanan ini tidak tersedia untuk setiap Pengguna yang sebelumnya dihapus dari Layanan oleh Be-Py.
                                </p>
                                <br />
                                <li>
                                    <b>Layanan Be-Py</b>
                                </li>
                                <p>
									Berdasarkan  pada syarat dan ketentuan Perjanjian ini, Anda dengan ini diberikan hak non-eksklusif, terbatas, tidak dapat dipindahtangankan, lisensi yang dicabut secara bebas untuk menggunakan Layanan secara pribadi, penggunaan non-komersial saja dan sebagaimana diizinkan oleh fitur Layanan. Be-Py memiliki semua hak yang tidak diberikan secara tersurat dalam Layanan dan Konten Be-Py (sebagaimana didefinisikan di bawah). Be-Py dapat mengakhiri lisensi ini setiap saat dengan alasan apapun atau tanpa alasan.
                                </p>
                                <br />
                                <li>
									<b>Pendaftaran</b>
                                </li>
                                <p>
									Untuk registrasi, Anda harus mengisi semua kelengkapan form tanpa terkecuali. Anda harus membuat sebuah username yang sifatnya unik, sehingga tidak ada duplikat username untuk pengguna lain. Email yang Anda masukkan adalah email aktif dan real, sehingga Be-Py dapat menghubungi sewaktu-waktu apabila diperlukan. Be-Py berhak untuk menolak aplikasi pendaftaran Anda dengan alasan yang jelas.                                
								</p>
                                <br />
                                <li>
									<b>Akun Be-Py</b>
                                </li>
                                <p>
									Akun Be-Py Anda memberikan akses ke layanan dan fungsi tertentu yang dikehendaki oleh Be-Py. Dengan menghubungkan Be-Py dengan layanan pihak ketiga (misalnya, Facebook atau Twitter), Anda memberikan izin untuk mengakses dan menggunakan informasi Anda dari layanan yang diizinkan oleh layanan itu, dan untuk menyimpan log-in kredensial untuk layanan tersebut.
                                </p>
                                <br />
                                <p>
									Anda tidak diizinkan untuk menggunakan account pengguna lain tanpa izin. Saat membuat akun Anda, Anda harus memberikan informasi yang akurat dan lengkap. Anda bertanggung jawab untuk aktivitas yang terjadi pada account Anda, dan Anda harus menjaga password account Anda tetap aman. Kami mendorong Anda untuk menggunakan password yang “kuat” (password yang menggunakan kombinasi huruf besar dan kecil huruf, angka dan simbol) dengan akun Anda. Anda harus segera memberitahukan Be-Py dari setiap pelanggaran keamanan atau penggunaan yang tidak sah dari akun Anda. Be-Py tidak akan bertanggung jawab atas kerugian yang disebabkan oleh penggunaan yang tidak sah dari akun Anda.
                                </p>
                                <br/>
                                <p>
									Anda dapat mengontrol profil Anda dan bagaimana Anda berinteraksi dengan Layanan dengan mengubah pengaturan di halaman pengaturan akun Anda. Dengan memberikan Be-Py alamat email Anda, Anda menyetujui kami menggunakan alamat email untuk mengirimkan pemberitahuan Layanan terkait, termasuk pemberitahuan yang diwajibkan oleh hukum, sebagai pengganti komunikasi melalui surat pos. Kami juga dapat menggunakan alamat email Anda untuk mengirimkan pesan lain, seperti perubahan fitur Layanan dan penawaran khusus. Jika Anda tidak ingin menerima pesan email tersebut, Anda dapat memilih keluar atau mengubah preferensi Anda di halaman pengaturan akun Anda.
                                </p>
                                <br />
                            </ol>

                                <li>
									<h4><b>Privasi</b></h4>
                                </li>
                                <p>
									Kami peduli tentang privasi Pengguna kami. Anda memahami bahwa dengan menggunakan Layanan Be-Py, Anda menyetujui pengumpulan, penggunaan dan pengungkapan informasi pribadi Anda dan data agregat sebagaimana diatur dalam Kebijakan Privasi kami.
                                </p>
                                <br />

                                <li>
									<h4><b>Keamanan</b></h4>
                                </li>
                                <p>
									 Be-Py peduli tentang integritas dan keamanan informasi pribadi Anda. Namun, kami tidak dapat menjamin pihak ketiga yang tidak berwenang tidak akan pernah mampu meretas sistem keamanan kami atau menggunakan informasi pribadi Anda untuk hal tertentu.
                                </p>
                                <br />
                                
                                <p>
									Tim Be-Py
                                </p>
                                <p>
									Syarat Penggunaan ini terakhir dimodifikasi pada: 07/12/2016
                                </p>


                        </li><br/>
                </div>
            </div>
        </div>
    </div>{% endblock content %}
