{% extends 'base.html' %}

{% block title %}BE-PY | Blog | {{ post.title }}{% endblock %}

{% block content %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{post.image.url}});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<strong>{{ post.title }}</strong>
							<div class="row">
								<div class="col-xs-5 calendar">
									<h2><i class="icon-calendar" style="font-size: 30px; position: relative; top: 7px; right: 5px;"></i>{{ post.published_date }}</h2>
								</div>
							</div>
							<!--<div class="row">
								<div class="col-xs-5">
									<h2><i class="icon-speech-bubble" style="font-size: 30px; position: relative; top: 7px; right: 5px;"></i>1 Komentar</h2>
								</div>
							</div>-->
						</div>
					</div>
				</div>
			</div><!-- end of row-->
		</div> <!-- end of Container-->
	</header>

	<nav class="breadcrumb" role="navigation">
		<a class="breadcrumb-item beranda" href="{% url 'home'%}">Beranda</a>
		<a class="breadcrumb-item" href="{% url 'blog:post_list'%}">Blog</a>
		<span class="breadcrumb-item active">{{ post.title }}</span>
	</nav>
	<div id="fh5co-blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9">
					<div class="fh5co-blog animate-box">
						<div class="blog-text">
							<p> {{ post.text|safe }}</p>
						</div>
					</div>
					<!--tag-->
                    <div class="tags-list">
                         Tags : <a href="#" rel="tag">Chart</a>
                                <a href="#" rel="tag">Computer</a>
                                <a href="#" rel="tag">Ecommerce</a>
                                <a href="#" rel="tag">Learning</a>
                                <a href="#" rel="tag">Marketing</a>
                                <a href="#" rel="tag">Students</a>
                                <a href="#" rel="tag">Web</a>
                    </div>
                    <!--END tag-->
				</div>
				<div class="col-lg-3 col-md-3 sidebar">
					<div class="tag">
						<h3><i class="icon-tag"></i>Tag Lainya</h3>
						<a href='#' style='font-size: 8pt;'>Chart</a>
						<a href='#' style='font-size: 8pt;'>Computer</a>
						<a href='#' style='font-size: 8pt;'>Ecommerce</a>
						<a href='#' style='font-size: 8pt;'>Learning</a>
						<a href='#' style='font-size: 8pt;'>Marketing</a>
						<a href='#' style='font-size: 8pt;'>Students</a>
						<a href='#' style='font-size: 8pt;'>Web</a>
					</div>
					<div class="recent-posts">
						<h3><i class="icon-link2"></i>Postingan Terbaru</h3>
							<ul class="posts">
								<li class="post">
									<a href="#">Check New Events</a>
								</li>
								<li class="post">
									<a href="#">Meet the Teachers</a>
								</li>
								<li class="post">
									<a href="#">We care your success</a>
								</li>
								<li class="post">
									<a href="#">World Best Designers</a>
								</li>
								<li class="post">
									<a href="#">Quote Post</a>
								</li>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div id="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="post">

                    <h1></h1>

                    <p></p>

                </div>
                <div class="row">
                <div id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = '//be-py-com.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <hr>
            </div>
        </div>
    </div>

{% endblock %}
