{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Be-Py | Formulir Pengajuan Bimbingan Proyek Tugas Akhir Kuliah{% endblock title %}


  {% block custom_css %}
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-project.css" rel="stylesheet">
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-detail.css" rel="stylesheet">

  <style>
    #mainNav {
        background-color: #3775a9;
    }
  </style>
  {% endblock custom_css %}

{% block content %}
{% include 'components/navigation.html' with navbar_class="navbar navbar-expand-lg navbar-dark fixed-top" %}

	<section class="page-section" style="padding-top: 7em;">
		<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'static_page:home' %}">Beranda</a></li>            
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'static_page:learn_type' %}">Belajar</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tugas Akhir Kuliah</li>
      </ol>
            <h1 class="text-center">Formulir Pengajuan Bimbingan</h1>
            <h1 class="mb-5 text-center">Proyek Tugas Akhir Kuliah</h1>
            
			<div class="row">
        {% if waiting_project_approval %}
        <div class="col-md-8 offset-md-2">
          <div class="jumbotron">
            <h4 >
              Pengajuan bimbingan tugas akhir kamu masih dalam proses menunggu approval.<br>
              Kami akan menghubungi kamu, setelah kami selesai mereview.
            </h4>

          </div>
          
        </div>
        {% else %}
				<div class="col-md-6 offset-md-3">
          <form action="{% url 'course:course_college_final_project' %}" method="post" class="form">
            {% bootstrap_messages %}
            {% csrf_token %}
            {% bootstrap_form user_profile_form %}
            {% bootstrap_form education_profile_form %}
            {% bootstrap_field college_project_form.project_type %}
            {% bootstrap_field college_project_form.project_idea %}
              <h6>Target Sidang Tugas Akhir</h6>
              <div class="row"> 
                <div class="col">  
                  {% bootstrap_field college_project_form.target_month %}
                </div>
                <div class="col">           
                  {% bootstrap_field college_project_form.target_year %}
                </div>
              </div>
            
            {% if not hidden_button %}
            <div class="text-right">
              <button class="btn btn-primary btn-lg" type="submit">Kirim Pengajuan</button>
            </div>
            {% endif %}
          </form>
                    
              
				</div>             
        {% endif %}
			</div>
			
		</div>
	</section>

{% include 'components/footer.html' %}
{% endblock %}

{% block custom_js %}
<!-- Custom JavaScript for this theme -->
<script src="{% static 'js/be-py-scripts.js' %}"></script>


{% endblock custom_js %}