{% extends "base.html" %}
{% load static %}
{% block title %}BE-PY | Para Mentor{% endblock %}

  {% block custom_css %}
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-project.css" rel="stylesheet">
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-detail.css" rel="stylesheet">

  
    <style>
      #mainNav {
          background-color: #3775a9;
      }
    </style>
  {% endblock %}
  
{% block content %}

{% include 'components/navigation.html' with navbar_class="navbar navbar-expand-lg navbar-dark fixed-top" %}

<section class="page-section" style="padding-top: 7em;">
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'static_page:home' %}">Beranda</a></li>            
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'static_page:learn_type' %}">Belajar</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mentoring Privat</li>
    </ol>
    <h2 class="mb-5">Para Mentor</h2>

    <div class="container">
      
      <div class="row">      
        <!-- main content area -->
        
        {% for mentor in mentors %}
            <div class="col-lg-4">
              <div class="card text-center">
                
                <div class="card-body">
                  <h5 class="card-title">{{ mentor.user.profile.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ mentor.experience.first.role }}
                  </h6>
                  <h6 class="card-subtitle mb-3 text-muted">
                    {{ mentor.experience.first.company.name }}
                  </h6>
                  <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ mentor.user.profile.profile_picture.url }}" alt="{{ mentor.user.profile.name }}">
                    <div class="social-icons mb-5">
                      <a href="{{ mentor.user.profesional_profile.linkedin }}">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                      <a href="{{ mentor.user.profesional_profile.github }}">
                        <i class="fab fa-github"></i>
                      </a>
                    </div>
                    <a class="btn btn-primary" href="{% url 'course:course_mentor_detail' mentor.id  %}" role="button">
                      Lihat Profil Mentor</a>
                    
                      
                  </div>
                  
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
</section>
{% include 'components/footer.html' %}

{% endblock %}


