{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block title %}Be-Py | Formulir Pengajuan Mentoring Private{% endblock title %}


  {% block custom_css %}
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-project.css" rel="stylesheet">
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-detail.css" rel="stylesheet">

  <style>
    #mainNav {
        background-color: #3775a9;
    }
  </style>
  {% endblock custom_css %}

{% block content %}
{% include 'components/navigation.html' with navbar_class="navbar navbar-expand-lg navbar-dark fixed-top" %}

	<section class="page-section" style="padding-top: 7em;">
		<div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'static_page:home' %}">Beranda</a></li>            
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'static_page:learn_type' %}">Belajar</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'course:course_mentor_list' %}">Mentoring Privat</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'course:course_mentor_detail' mentor.id  %}">Profil Mentor</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pengajuan Mentoring</li>
      </ol>
            <h1 class="text-center">Formulir Pengajuan</h1>
            <h1 class="text-center">Private Mentoring</h1>
            <h2 class="mb-5 text-center">Mentor: {{ mentor.user.profile.name }}</h2>
			<div class="row">
        {% if waiting_response %}
        <div class="col-md-8 offset-md-2">
          <h4 class="jumbotron">Pengajuan mentoring kamu kepada {{ mentor.user.profile.name }} masih dalam proses menunggu respon dari mentor.</h4>
        </div>
        {% else %}
        <div class="col-md-6 offset-md-3">
         
          <form action="{% url 'course:course_mentoring_private' mentor.id %}" method="post" class="form">
            {% bootstrap_messages %}
            {% csrf_token %}
            {% bootstrap_form user_profile_form %}
            {% bootstrap_form mentoring_request_form %}

            {% if not hidden_button %}
            <div class="text-right">
              <button class="btn btn-primary btn-lg" type="submit">Kirim Pengajuan</button>
            </div>
            {% endif %}
				  </form>
        {% endif %}
              
				</div>             
			</div>
			
		</div>
	</section>

{% include 'components/footer.html' %}
{% endblock %}

{% block custom_js %}
<!-- Custom JavaScript for this theme -->
<script src="{% static 'js/be-py-scripts.js' %}"></script>


{% endblock custom_js %}