{% extends "base.html" %}
{% load static %}
{% load l10n %}
{% block title %}BE-PY | Profil Mentor{% endblock %}

  {% block custom_css %}
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-project.css" rel="stylesheet">
  <link href="https://alvian-personal-website.oss-ap-southeast-5.aliyuncs.com/static/css/showcase-detail.css" rel="stylesheet">

    <style>
      #mainNav {
          background-color: #3775a9;
      }
    </style>
  {% endblock %}
  
{% block content %}

{% include 'components/navigation.html' with navbar_class="navbar navbar-expand-lg navbar-dark fixed-top" %}

<section class="page-section" style="padding-top: 7em;">
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'static_page:home' %}">Beranda</a></li>            
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'static_page:learn_type' %}">Belajar</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'course:course_mentor_list' %}">Mentoring Privat</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profil Mentor</li>
    </ol>
    <h2 class="mb-5">Profil Mentor</h2>

    <div class="container">
      <div class="text-center">
        <div class="team-member">
          <h4 class="mb-3">{{ mentor.user.profile.name }}</h4>
          <img class="mx-auto rounded-circle" src="{{ mentor.user.profile.profile_picture.url }}" alt="{{ mentor.user.profile.name }}">
          
          <p class="text-muted">
            {{ mentor.experience.first.role }} <br>
            {{ mentor.experience.first.company.name }}
          </p>
          
          <div class="social-icons mb-3">
            <a href="{{ story.user.profesional_profile.linkedin }}">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="{{ story.user.profesional_profile.github }}">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <a class="btn btn-primary btn-xl" 
            href="{% url 'course:course_mentor_list' %}">Ajukan Privat Mentoring</a>
      </div>
      </div>
      <div class="text-center">
          <h2 class="section-heading mb-5">Pengalaman Kerja</h2>
      </div>
      <ul class="timeline mb-5">
        {% for experience in mentor.experience.all %}
            <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
              <div class="timeline-image" style="background-color:{{ experience.company.legal_logo.background_color }};">
                <div class="mx-auto" >
                <h4 style="padding-top: {% localize off %} {{ experience.company.legal_logo.padding_top }}{% endlocalize %}em;">{{ experience.company.name }}</h4>
                </div>
              </div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ experience.role }}</h4>
                    <h4 class="subheading">{{ experience.company.name }}</h4>
                    <p class="text-muted">
                      {{ experience.company.field }}  
                    <br>
                    {{ experience.company.start_date | date:"F Y" }} - 
                    {% if experience.company.end_date %} {{ experience.company.end_date | date:"F Y" }} {% else %} Present {% endif %}
                    </p>
                  </div>
                  
              </div>
            </li>
          {% endfor %}
          <!-- <li class="timeline-inverted">
            <div class="timeline-image" style="background-color:#5094e3;">
              <div class="mx-auto">
                <h4 style="padding-top:0em;">Mekar Investama Sampoerna</h4>
              </div>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>QA Engineer</h4>
                    <h4 class="subheading">Mekar Investama Sampoerna</h4>
                    <p class="text-muted">
                      Fintech
                      <br>Juni 2019 – Mei 2020
                    </p>
                    
                    
                </div>
                
            </div>
          </li> -->
          
      </ul>
      <div class="text-center">
        <h2 class="section-heading mb-3">Pendidikan</h2>
      </div>
      <ul class="timeline mb-5">
        {% for education in mentor.education.all %}
        <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
            <div class="timeline-image" style="background-color:{{ education.school.legal_logo.background_color }};">
              <div class="mx-auto" >
              <h4 style="padding-top:{% localize off %} {{ education.school.legal_logo.padding_top }}{% endlocalize %}em;">
                {{ education.school.name }}
              </h4>
              </div>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ education.level }}</h4>
                  <h4 class="subheading">{{ education.study }}</h4>
                  <h4 class="subheading">{{ education.school.name }}</h4>
                  <p class="text-muted">
                    {{ education.start_date | date:"Y" }} - 
                    {% if education.end_date %} {{ education.end_date | date:"Y" }} {% else %} Present {% endif %}
                  </p>
                </div>
                
            </div>
        </li>
        {% endfor %}
        
        
      </ul>
      <div class="text-center">
        <a class="btn btn-primary btn-xl" 
            href="{% url 'course:course_mentor_list' %}">Ajukan Privat Mentoring</a>
      </div>
    </div>

    
  </div>
</section>
{% include 'components/footer.html' %}

{% endblock %}


