{% extends "account/base.html" %}

{% block title %}Bad Request{% endblock %}

{% block inner %}

        <main class="form-signin" style="max-width: 900px;">

          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Bad Request (400) - Permintaan tidak diterima</h1>
                    
                      <p>
                        Permintaan tidak diterima.
                          Kembali ke <a href="{% url 'static_page:home' %}">halaman utama</a>.
                      </p>
                  </div>
              </div>
          </div>
      </main>
{% endblock %}


