{% extends "account/base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block inner %}

        <main class="form-signin" style="max-width: 900px;">

          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Forbidden (403) - Halaman Terlarang</h1>
                    
                      <p>
                        Maaf kamu tidak punya hak akses di halaman ini.
                          Kembali ke <a href="{% url 'static_page:home' %}">halaman utama</a>.
                      </p>
                  </div>
              </div>
          </div>
      </main>
{% endblock %}


