{% extends "account/base.html" %}

{% block title %}Kesalahan pada Sistem Kami{% endblock %}

{% block inner %}

        <main class="form-signin" style="max-width: 900px;">

          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <h1>Error 500 - Kesalahan pada Sistem Kami</h1>
                    
                      <p>
                          Terdapat kesalahan pada sistem kami.
                          Kembali ke <a href="{% url 'home' %}">halaman utama</a> atau laporkan melalui form <a href="{% url 'static_page:contact-us' %}">hubungi kami</a>.
                      </p>
                  </div>
              </div>
          </div>
      </main>
{% endblock %}


