{% extends "base.html" %}

{% load static %}
{% load account %}

    {% block title %} Be-Py - Belajar Pemrograman Python {% endblock title %}

  {% block custom_css %}
  <link href="{% static 'css/be-py-style.css' %}?version=07022021" rel="stylesheet">
  
  
  
  {% endblock custom_css %}
{% block content %}  
	{% include 'components/navigation.html' with navbar_class="navbar navbar-expand-lg navbar-dark fixed-top" %}
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			
			<div class="masthead-heading text-uppercase">Belajar Pemrograman Python</div>
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'course:course_list' %}">Mulai Belajar</a>
		</div>
	</header>
	<!-- why-->
	<!-- <section class="page-section">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Kenapa Pemrograman Python?</h2>
			</div>       
		</div>
		
		
		<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img class="img-fluid" src="{% static 'images/python syntax.png' %}">
					sumber: <a target="_blank" href="https://www.codeschool.com/blog/2016/01/27/why-python/">
										Code School
									</a>
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h3>Syntax Mudah Dibaca</h3>
					<p>
						Seringkali programmer lupa
						dengan syntax coding yang sudah diimplementasi dan harus membaca ulang programnya.

						Dengan syntax yang mudah dibaca, memudahkan programmer untuk memahami kembali
						coding yang pernah ditulis.

						Selain itu, syntax mudah dibaca menjadikan
						proses pembelajaran bahasa python lebih mudah. Oleh karena itu, syntax python lebih bersahabat untuk
						orang yang baru belajar pemrograman.
					</p>
				</div>
			</div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="p-5">
				 <img class="img-fluid" src="{% static 'images/growth_major_languages.png' %}">
					sumber: <a target="_blank" href="https://stackoverflow.blog/2017/09/06/incredible-growth-python/">
										Stack Overflow
									</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="p-5">
					<h3>Popularitas Tinggi</h3>
							<p>
								Populer artinya banyak orang yang menggunakan. Saat menemukan error atau
								ingin memecahkan masalah dengan python, jawaban <i>googling</i> yang ditemukan
								akan lebih mudah didapatkan. Karena kemungkinan sudah ada orang lain yang pernah menemukan
								masalah yang sama dan bisa memecahkannya. Hal ini akan meningkatkan produktivitas programmer
								dalam mengembangkan aplikasi.
							</p>
					</div>
			</div>
			</div>
		</div>

		<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img class="img-fluid" height="50" src="{% static 'images/python-infographic.png' %}">
					sumber: <a target="_blank" href="https://blog.hackbrightacademy.com/blog/a-beginners-guide-to-python/">
										Hackbright Academy
									</a>
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h3>Implementasi di Banyak Bidang</h3>
					Python bisa digunakan untuk mengembangkan:
					<ul class = "list-unstyled">
						
						<li><i class="bi bi-check"></i>aplikasi berbasis web dan desktop</li>
						<li><i class="bi bi-check"></i>data science</li>
						<li><i class="bi bi-check"></i>machine learning</li>
						<li><i class="bi bi-check"></i>image recognition</li>
						<li><i class="bi bi-check"></i>automated test</li>
						<li><i class="bi bi-check"></i>aplikasi geo location dan lain lain</li>
					</ul>
				
				</div>
			</div>
			</div>
		</div>

		<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="p-5">
					<img class="img-fluid" src="{% static 'images/python-infographic2.png' %}">
					sumber: <a target="_blank" href="https://blog.hackbrightacademy.com/blog/a-beginners-guide-to-python/">
										Hackbright Academy
									</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="p-5">
					<h3>Eksistensi</h3>
						<p>
							Pemrograman python banyak digunakan oleh perusahaan besar seperti
							<strong>google</strong>, <strong>dropbox</strong>, <strong>instagram</strong> dan masih banyak lagi.
							Selain itu, banyak framework dan library favorit programmer yang dibuat dengan python. Seperti:
							<strong>django</strong> (aplikasi web), <strong>flask</strong> (aplikasi web),
							<strong>odoo</strong> (aplikasi erp),
							<strong>numpy</strong> (aplikasi data science), <strong>pandas</strong> (aplikasi data science),
							<strong>sklearn</strong> (aplikasi machine learning) dan masih banyak lagi yang lainnya.
						</p>
				</div>
			</div>
			</div>
		</div>

		
	</section> -->
	
	<!-- Services-->
	<section class="page-section bg-light">
		<div class="container">
			<h2 class="text-center mt-0">Jenis Belajar yang Tersedia</h2>
			<hr class="divider my-4" />
			<div class="row mb-5">
				<!-- <div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-briefcase text-primary mb-4"></i>
						<h3 class="h4 mb-2">Sturdy Themes</h3>
						<p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
					</div>
				</div> -->
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
						<h3 class="h4 mb-2">Pelajaran Skill Teknikal Mandiri</h3>
						<p class="text-muted mb-0">
							Pelajaran yang kami sediakan gratis untuk yang sudah berlangganan dan suka belajar mandiri.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-graduation-cap text-primary mb-4"></i>
						<h3 class="h4 mb-2">Proyek Tugas Akhir Kuliah</h3>
						<p class="text-muted mb-0">
							Sistem belajar yang ditujukan untuk mahasiswa yang mau membuat proyek tugas akhir dengan python.
						</p>
					</div>
				</div>
				<!-- <div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-book text-primary mb-4"></i>
						<h3 class="h4 mb-2">Made with Love</h3>
						<p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
					</div>
				</div> -->
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-users text-primary mb-4"></i>
						<h3 class="h4 mb-2">Belajar Online Berkelompok</h3>
						<p class="text-muted mb-0">
							Sistem belajar dalam kelompok kecil maksimal 5 orang yang memiliki tujuan belajar yang sama.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="mt-5">
						<i class="fas fa-4x fa-user-friends text-primary mb-4"></i>
						<h3 class="h4 mb-2">Mentoring Privat Intensif</h3>
						<p class="text-muted mb-0">
							Program khusus untuk yang memerlukan bimbingan khusus mengenai topik tertentu dengan sistem mentoring intensif.
						</p>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<a href="" class="btn btn-primary btn-xl">
						Penjelasan lebih lengkap 
					</a>					
				</div>
			</div> -->
		</div>
	</section>

	<!-- Testimoni-->
	<section class="page-section">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Testimoni</h2>
				<h3 class="section-subheading text-muted">Cerita sukses member Be-Py</h3>
			</div>
			<div class="row">
				{% for story in stories %}
					<div class="col-lg-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="{{ story.user.profile.profile_picture.url }}" alt="">
							<h4>{{ story.user.profile.name }}</h4>
							<p class="text-muted">
							{{ story.user.profesional_profile.position }} <br>
							{{ story.user.profesional_profile.company_name }}
							</p>
							<div class="mb-3">
								<a class="btn btn-dark btn-social mx-2" href="{{ story.user.profesional_profile.github }}">
									<i class="fab fa-github"></i>
								</a>
								<a class="btn btn-dark btn-social mx-2" href="{{ story.user.profesional_profile.linkedin }}">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</div>
							
							<p>
								{{ story.synopsis }}  
							</p>
							<p><a class="btn btn-primary" href="{% url 'testimonial:testimonial_detail' story.id %}" role="button">Cerita selengkapnya »</a></p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<a href="{% url 'testimonial:testimonial_list' %}" class="btn btn-primary btn-xl">Kumpulan testimoni yang lainnya </a>					
				</div>
			</div>
		</div>
	</section>
	<!-- Portfolio Grid-->
	<section class="page-section bg-light">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Hasil Karya</h2>
				<h3 class="section-subheading text-muted">Karya yang kami hasilkan bersama Be-Py</h3>
			</div>
			<div class="row">
				{% for project in project_list %}
					<div class="col-md-4 mb-5">
						<div class="card h-100">
						<div class="placeholder-item placeholder-loading">
							<img class="card-img-top lazy-image" src="{{ project.cover_image.url }}" alt="">
						</div>
						<div class="card-body">
							<h4 class="card-title">{{ project.name }}</h4>
							<p class="card-text">              
								{% autoescape off %}
								  {{ project.synopsis | truncatewords:18}}  
								{% endautoescape %}
							  </p>
						</div>
						<div class="card-footer">
							<a href="{% url 'portfolio:portfolio_detail' project.slug %}" class="btn btn-primary">Lihat dong!</a>
						</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<!-- <p class="large text-muted">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
					</p> -->
					
					<a href="{% url 'portfolio:portfolio_list' %}" class="btn btn-primary btn-xl">Tampilkan lebih banyak hasil karya </a>
				</div>
			</div>
		</div>
	</section>
	
	
	
	{% include 'components/footer.html' %}

{% endblock content %}


{% block custom_js %}
<!-- Contact form JS-->
<script src="{% static 'assets/mail/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'assets/mail/contact_me.js' %}"></script>

<!-- Custom JavaScript for this theme -->
<script src="{% static 'js/be-py-scripts.js' %}"></script>


{% endblock custom_js %}