<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright &copy; Be-Py {% now "Y" %}</div>
            <div class="col-lg-2 my-3 my-lg-0">
                <!-- <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a> -->
            </div>
            <div class="col-lg-6 text-lg-right">
                <a class="mr-3" href="{% url 'contact-us' %}">Hubungi Kami</a>
                <a class="mr-3" href="{% url 'privacy-policy' %}">Kebijakan Privasi</a>
                <a class="mr-3" href="{% url 'term-of-use' %}">Ketentuan Penggunaan</a>
                <a class="mr-3" href="{% url 'about-us' %}">Tentang</a>
                
            </div>
        </div>
    </div>
</footer>