<!-- Navigation-->
<!-- navbar navbar-expand-md navbar-dark bg-dark mb-4 -->
<!-- navbar navbar-expand-lg navbar-dark fixed-top -->
<nav class="{{ navbar_class }}" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">Be-Py</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_signup' %}">Daftar</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'course:course_list' %}">Belajar</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'testimonial:testimonial_list' %}">Testimoni</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'portfolio:portfolio_list' %}">Karya</a></li>
            </ul>
        </div>
    </div>
</nav>